<div class="row h-100">
  <div class="col-md-2 fixed-sidebar" id="recent-chats">
    <div class="recent-chats d-flex flex-column h-100">
      <div class="text-center my-4 logo-container">
        <a href="/">
          <img src="/images/codeifyxlogosmall.webp" alt="Small Logo" class="small-logo">
          <img src="/images/codeifyxlogo3.webp" alt="Full Logo" class="full-logo">
        </a>
      </div>
      <div class="chat-list">
        <div class="recent-chats-header d-flex align-items-center mt-5">
          <i class="fas fa-history recent-chats-icon"></i>
          <h4 class="recent-chats-title">Recent Chats</h4>
        </div>
        <div class="recent-chats-separator mb-3 mt-1"></div>
        <a href="/chat" class="btn btn-primary new-chat-btn d-flex align-items-center">
          <i class="fas fa-plus new-chat-icon"></i>
          <span class="new-chat-text">New Chat</span>
        </a>
        <ul class="list-group recent-chats-list">
          {{#each recentChats}}
          <li class="list-group-item recent-chat-item">
            <a href="/chat/{{this.id}}" class="recent-chat-link d-flex align-items-center text-decoration-none">
              <div class="language-logo-container d-flex align-items-center">
                <img src="{{this.languageLogo}}" alt="Language Logo" class="language-logo">
              </div>
              <span class="chat-details flex-grow-1 me-2">{{this.title}}</span>
              <button class="btn btn-sm btn-danger delete-chat-btn" data-chat-id="{{this.id}}">
                <i class="fas fa-trash-alt"></i>
              </button>
            </a>
          </li>
          {{/each}}
        </ul>
      </div>
      <div class="sidebar-footer">
        <div class="settings text-center mb-4">
          <a href="/settings" class="settings-link">
            <i class="fas fa-cog"></i>
            <span class="settings-text">Settings</span>
          </a>
        </div>
        <div class="terms text-center mb-4">
          <a href="/terms" class="terms-link">
            <i class="fas fa-file-alt"></i>
            <span class="terms-text">Terms</span>
          </a>
        </div>
        <div class="profile text-center mb-4">
          <a href="/profile" class="profile-link">
            <img src="{{user.image}}" alt="Profile Image" class="profile-image rounded-circle">
            <span class="display-name fw-bold">{{user.displayName}}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown"
      aria-expanded="false">
      <img src="{{selectedLanguage.logo}}" class="language-logo me-2" />
      {{selectedLanguage.name}}
      <i class="fas fa-caret-down ms-2"></i>
    </button>
    <ul class="dropdown-menu" aria-labelledby="languageDropdown">
      {{#each languages}}
      <li>
        <a class="dropdown-item" href="#" data-language="{{this.name}}">
          <img src="{{this.logo}}" class="language-logo me-2" />
          {{this.name}}
        </a>
      </li>
      {{/each}}
    </ul>
  </div>
  <div class="full-width-container">
    <div class="main-content d-flex flex-column">
      <div class="w-100 flex-grow-1">
        <div class="chat-messages">
          {{#if messages.length}}
          {{#each messages}}
          <div class="message {{this.role}}">
            <div class="message-container">
              {{#if (eq role 'user')}}
              <img src="{{user.image}}" alt="User Image" class="user-image rounded-circle">
              {{else}}
              <img src="/images/codeifyxlogosmall.webp" alt="AI Image" class="assistant-image rounded-circle">
              {{/if}}
              <div class="message-content">
                <pre>{{this.content}}</pre>
              </div>
            </div>
          </div>
          {{/each}}
          {{else}}
          <div class="empty-state text-center">
            <img src="/images/codeifyxlogosmall.webp" alt="CodeifyX Logo" class="mb-3 small-logo fade-in">
            <h3 class="fw-bold fade-in">What can I help you with?</h3>
          </div>
          {{/if}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="chat-bar">
            <div class="input-group">
              <input type="text" class="form-control" id="messageInput" placeholder="Type your message..."
                aria-label="Message">
              <input type="hidden" id="chatIdInput" value="{{chatId}}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  let selectedLanguage = '{{selectedLanguage.name}}';
</script>

<script src="/js/chat_interface.js"></script>